<div class="col-xs-6 col-xs-offset-3">
  <div class="">
    <label for="inputEmail" class="col-lg-2 control-label">{{tableHeader[0]|uppercase}}</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" value="{{user.id}}" [disabled]="true">
    </div>
  </div>
  <div class="">
    <label for="inputEmail" class="col-lg-2 control-label">{{tableHeader[1]|uppercase}}</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" value="{{user.avatar}}">
    </div>
  </div>
  <div class="">
    <label for="inputEmail" class="col-lg-2 control-label">{{tableHeader[2]|uppercase}}</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" value="{{user.first_name}}">
    </div>
  </div>
  <div class="">
    <label for="inputEmail" class="col-lg-2 control-label">{{tableHeader[3]|uppercase}}</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" value="{{user.last_name}}">
    </div>
  </div>
  <div class="buttons">
    <div class="col-lg-10 col-lg-offset-2">
      <button type="submit" class="btn btn-primary"
      (click)=editUser(user)>Save</button>
      <button type="submit" class="btn btn-default"
      (click)=goBack()>Go Back</button>
    </div>
  </div>
</div>