<div class="container box">
  <form class="form-horizontal"
  [formGroup]="logeInForm"
  (ngSubmit)="onSubmit(logeInForm.value)"
  #logForm="ngForm">
    <fieldset>
      <legend class="text-success">Volo Project</legend>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputEmail" placeholder="Email"
          name="email" [formControl]="logeInForm.controls['email']" emailValidator> 
          <span *ngIf="!email.valid && (email.dirty || email.touched)" class="text-warning">Email is invalid</span>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
          <input type="password" class="form-control" id="inputPassword" placeholder="Password"
          name="password" [formControl]="logeInForm.controls['password']" passwordValidator>
          <span *ngIf="!password.valid && (password.dirty || password.touched)" class="text-warning">Password must contain minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character.</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="submit" class="btn btn-primary"
          [disabled]="!logForm.form.valid">Loge In</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
