
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#addUser">Add</button>

  <!-- Modal -->
  <div id="addUser" class="modal fade container" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title">Register a new user</h2>
        </div>
        <div class="modal-body">
          <div *ngFor = "let header of tableHeader">
            <label class="control-label">{{header|uppercase}}</label>
            <div class="col-lg-12">
              <input type="text" class="form-control" id="inputEmail" placeholder="{{header}}">
            </div>
          </div>     
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal"
          (click)=addUser()>Save</button>
        </div>
      </div>
    </div>
  </div>

