<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Volo Project</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2"> 
      <form class="navbar-form navbar-right">
        <button type="submit" class="btn btn-default" (click)=logOut()>Loge Out</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

