th {
    font-size: 25px;
    text-align: center;
    padding: 20px;
    margin: 10px;
}
td {
    font-size: 20px;
    padding: 20px;
    margin: 15px;
    text-align: center;
    
}

tr {
    border-radius: 15px;
}

tbody tr:hover {
    background-color: lightgrey;
}

td img {
    border: 2px solid gray;
    border-radius: 63.5px;
}

td img:hover {
    border: 2px solid sandybrown;
}

.remove:hover {
    color: red;
    font-size: 25px;
    cursor:pointer;
}

.edit:hover {
    color: yellow;
    font-size: 25px;
    cursor:pointer;
}

