th {
    font-size: 25px;
    text-align: center;
    padding: 15px !important;
}
td {
    font-size: 20px;
    text-align: center;
    line-height: 120px !important;
}

tr {
    border-radius: 15px;
}

td img {
    border: 2px solid gray;
    border-radius: 63.5px;
}

td img:hover {
    border: 2px solid sandybrown;
}

.remove:hover {
    color: red;
    cursor:pointer;
}

.edit:hover {
    color: yellow;
}

table {
    border-collapse: collapse;
    border-radius: 15px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px #133B45; /* this draws the table border  */ 
    margin-top: 20px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}

.pointer {
    cursor:pointer;
}
