<router-outlet></router-outlet>

<div class="container">
  <div class="row">
    <div class="container">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>{{tableHeader[0]}} <i class="fa fa-sort pointer"
            (click)=sortId()></i></th>
            <th>{{tableHeader[1]}}</th>
            <th>{{tableHeader[2]}}  <i class="fa fa-sort pointer"
            (click)=sortName()></i></th>
            <th>{{tableHeader[3]}}  <i class="fa fa-sort pointer"
            (click)=sortLastName()></i></th>
            <th></th>
            <th><add></add></th>
          </tr>
        </thead>
        
        <tbody >
          <tr *ngFor = 'let user of usersList' >
            <td>{{user.id}}</td>
            <td><img src="{{user.avatar}}" alt="Portret"></td>
            <td>{{user.first_name|uppercase}}</td>
            <td>{{user.last_name|uppercase}}</td>
            <td><i class="fa fa-pencil edit" (click)=onSelect(user)></i></td>
            <td><i class="fa fa-close remove" data-toggle="modal" data-target="#deleteUser"></i></td> <!---->
            <!--Delete Modal-->
            <div id="deleteUser" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Are You Sure You Want Delete This User</h2>
                  </div>
                  <div class="modal-body row"> 
                    <div class="col-lg-4 col-lg-offset-4"> 
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cansel</button>
                      <button class="btn btn-primary"  
                      (click)=deleteUser(user) data-dismiss="modal">Yes</button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!-- End of Modal -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="text-center">
    <div class="row">
      <ul class="pagination align-self-center">
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="pointer">
            <a (click)="goPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="pointer">
            <a (click)="goPage(pager.currentPage - 1)">&laquo;</a>
        </li>
        <li *ngFor="let page of pager.pages" 
        [ngClass]="{active:pager.currentPage === page}" class="pointer">
            <a (click)="goPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="pointer">
            <a (click)="goPage(pager.currentPage + 1)">&raquo;</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="pointer">
            <a (click)="goPage(pager.totalPages)">Last</a>
        </li>
      </ul>
    </div>
  </div>
</div>




